.title{
    font-size: larger;
}


.likesDislikes{
    align-items: center;
    gap: 17px;
}

.fa{
    cursor: pointer;
}

.fa-thumbs-up:hover{
    color: green
}

.fa-thumbs-down:hover{
    color: red
}

.views{
    max-width: 100px;
}

.description{
    max-height: 250px;
    overflow-y: auto;
}



.subscribe, .edit{
    float: right;
    padding: 10px;
    margin-left: 20px;
    color: white;
}

.subscribe{
    background-color: darkgreen;
}

.edit{
    background-color: blue;
}

.edit:hover{
    background-color: blue;
    opacity: 0.5;
}