.thumbnailContainer{
    position: relative;
    color: white;
    font-size: 12px;
    margin-bottom: 15px;
}

.duration{
    position: absolute;
    padding: 0px 3px 0px 3px;
    border-radius: 2px;
    background-color: black;
    bottom: -5px;
    right: 5px;
}

.videoChannelLogo{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border-width: 1.2px;
    border-style: solid;
    object-fit: cover;
}

.logoSection{
    align-items: center;
    gap: 7px;
}


.disable{
    opacity: 1
}

.videosContainer{
    flex-wrap: wrap;
    gap: 20px;
}

.videoContainer{
    cursor: pointer;
}

.description{
    margin-left: 10px;
}

.videoContainer:hover{
    background-color: #F0F8FF;
}