.thumbnail{
    width: 200px;
    height: 100px;
}

.videosContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.videoContainer{
    cursor: pointer;
}

.videoContainer:hover{
    background-color: whitesmoke;
}