.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: green;
    z-index: 1;
}

a{text-decoration: none;}

.nav a{
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }

.nav a:hover{color: whitesmoke}

.nav a.active{
  border-bottom: 0.5px solid white;
}

#yourvids{
    font-size: larger;
}