body, textarea{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

body{
  margin: 0;
  margin-top: 90px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row, .col{
  display: flex;
}

.col{
  flex-direction: column;
}

.smallGray{
  font-size: small;
  color: gray;
}

.center{
  text-align: center;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

.link:hover{
  color: red
}

a{
  color: inherit;
  text-decoration: none;
 }

  /* ################
Button styles
##################*/

button{
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  border-style: solid;
  padding: 5px;
  border-color: darkgreen;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  border-width:1px;
  height: auto;
  text-align: center;
  text-decoration: none;
  background-color: white;
  color: darkgreen;
}


button:hover{
  color: white;
  background-color: green;
  opacity: 0.8;
}

  /* ################
Image styles
##################*/

.logo{
  border-radius: 50%;
  width: 100%;
  height: 90px;
  width: min(70vw, 90px);
  border-width: 1.2px;
  border-style: solid;
  object-fit: cover;
}

.banner{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
}

  /* ################
Form styles
##################*/

form{
  margin: 0px auto;
  width: 50%;
}

.longInput, textarea{
  width: 100%
}

input{
  padding: 5px;
}

textarea{
  height: 100px;
}

  /* ################
Icon styles
##################*/



  /* ################
Skeleton styles
##################*/
.skeleton{
  animation: skeleton-loading 1s linear infinite alternate;
  background-size: cover;
}

@keyframes skeleton-loading{
  0%{
      background-color: hsl(200, 20%, 70%);
  }

  100%{
      background-color: hsl(200, 20%, 95%);
  }
}

.blank{
  background-color: lightgreen;
}